<?xml version="1.0"?>
<odoo>
    <!-- demo_odoo_tutorial App Menu -->
    <menuitem id="allen_connect_mssql_menu"
              name="allen connect mssql" />

    <!-- Action to open the demo_odoo_tutorial -->
    <act_window id="action_connect_mssql"
      name="allen connect Action"
      res_model="connect.mssql"
      view_mode="form"/>

    <!-- Menu item to open the demo_odoo_tutorial -->
    <menuitem id="menu_connect_mssql"
              name="allen connect msql MI"
	            action="action_connect_mssql"
              parent="allen_connect_mssql_menu" />
</odoo>


