<?xml version="1.0"?>
<odoo>
    <!-- demo_odoo_tutorial App Menu -->
    <menuitem id="demo_odoo_Allen_menu"
              name="Demo Odoo Allen" />

    <!-- Action to open the demo_odoo_tutorial -->
    <act_window id="action_odoo_Allen"
      name="Demo Odoo Allen Action"
      res_model="demo.odoo.Allen"
      view_mode="tree,form"/><!--tree相當於gridview模式，form 為一般頁面 -->

    <!-- Menu item to open the demo_odoo_tutorial -->
    <menuitem id="menu_odoo_Allen"
              name="Demo Odoo Allen"
	            action="action_odoo_Allen"
              parent="demo_odoo_Allen_menu" />
</odoo>


